<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
</head>

<body>
	<!-- 	
	<h1 layout:fragment="header">
		<small>Formulário para cadastro dos exercícios <span class="glyphicon glyphicon-pencil"></span></small>
	</h1>
	 -->
	
<div layout:fragment="content">
	<form name="form" th:action="@{/salvar}" id="form">
	
	<div class="panel panel-default">
		<div class="panel panel-info">
			<div class="panel-heading"> <h4>Novo treino</h4></div>
		</div>
		<div class="panel-body">
			
				<div class="form-group">
			      <label for="titulo"><span><h4>Nome do treino</h4></span></label>
			      <input type="text" class="form-control" name="descricao" id="descricao" required="required" placeholder="Digite o nome do treino aqui..." th:value="${descricao}"> 	
			    </div>
			    <div class="form-group">
			      <label for="titulo"><span><h4>data</h4></span></label>
			      <input type="date" class="form-control" name="data" id="data" required="required" th:value="${data}"> 	
			    </div>
			    <div class="form-group">
			      <label for="titulo"><span><h4>Título do bloco</h4></span></label>
			      <select name="titulo" class="selectpicker form-control" id="titulo" required="required">
			       		<option th:each="t : ${titulos}" th:value="${t.id}" th:text="${t.descricao}">DIA1</option>			       		
			   	  </select>
			    </div>
		</div>
		<div class="panel-heading panel panel-info"> <h4>Exercícios</h4></div>	
		<div class="panel-body">		
			    <div class="form-group">		
					<table id="exercicioTable" class="table table-striped"  width="100%">     							       
					       <thead>
					            <tr>					                
					            	<th><span></span></th>
									<th><span><h4><small>Exercício</small></h4></span></th>
									<th><span><h4><small>Grupo</small></h4></span></th>					                
					            </tr>
					        </thead>							        
					        <tfoot>
					            <tr>
					            	<th ><!--id--></th>
									<th ><!--descricao--></th>            
									<th><!--grupo muscular--></th>
					            </tr>
					        </tfoot>
					</table>		
				</div>				
				<div class="form-group col-md-6">
						<input type="hidden" name="codigosSelecionados" id="codigosSelecionados" th:value="${codigosSelecionados}">
						<button type="button" class="btn btn-info btn-md" id="voltar">Voltar</button>				
						<input type="submit" class="btn btn-info btn-md" id="salvar" value="Salvar">
						<!-- <input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
				</div>
	 	</div>
	</div>
</form>										
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
	<script th:inline="javascript">
		jQuery(function(){		
			
			//var _csrf_param = $("#_csrf_param").attr("value");
			
			$("#voltar").on("click",function(){
				window.location.href ="/treinoeforma/treinos";
			});
			
			
			$("#salvar").on("click",function(){
				
				var str = $("#form").serialize();
			    console.log(str);
					return false;
				
			});
			
			
			
			
			var newArray = new Array();
			var arr = new Array();
			
			Array.prototype.verificaParaInclusao = function(val){
				var array = new Array();
				array['result'] = false;
				array['pos']= null;						
				for (i=0; i < this.length; i++){
					if (newArray[i] == val){						
						array['result'] = true;
						array['pos']=i;
						break;						
					}
				}
				return array;
			}
				
			var	 table = $('#exercicioTable').DataTable({							
					 	responsive:true,		 
					 	pageLength:5,						 	
					 	language:{
					 		info:"De _START_ Ao _END_ Total registros: _TOTAL_",
					 		lengthMenu:     "Mostrar _MENU_ linhas abaixo",
					 		search:"Pesquisar",				 		
					 		paginate:{
					 			previous:"Anterior",
					 			next:"Próximo"
					 		}
					 	},			 	
				        ajax:{
				        	url:"/treinoeforma/listaExercicioXHR",
				        	dataSrc:""	        		
				        },
				        columns:[
				        		{data:"id"},
				            	{data:"descricao"},
				            	{data:"grupoMuscular.nome"}
				            	
				        ],
				        columnDefs: [{
				           targets: 0,
				           searchable: false,
				           orderable: false,
				           width: '1%',
				           className: 'dt-body-center',
				           render: function (data, type, full, meta){
				        	  
				        	   if (type == 'display')
				        	   		var resp =$("#codigosSelecionados").val().indexOf(data) != -1 ? 'checked':'';
				        	   return "<a href='#' id='"+data+"'><input type='checkbox'  " + resp + "  value='"+data+"'></a>";
				           }
				        }]
				});
			
					 
			/* Linha que foi clicada */
			
			$('#exercicioTable tbody').on('click','a',function () {					 
				
				var item = $(this).attr("id");
				var table = $('#exercicioTable').DataTable();
				var id = table.row($(this).parents('tr')).data().id;
				 		
				if ($.trim($("#codigosSelecionados").val()) === ""){
					$("#codigosSelecionados").val(id);
					console.log($("#codigosSelecionados").val());
				}
				else
				{
					var codigos = $("#codigosSelecionados").val();
					newArray = codigos.split(',');								
					arr = newArray.verificaParaInclusao(id);
					
					if (arr['result']){					
						newArray.splice(arr['pos'],1);
						newArray.sort();
						var lista = newArray.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
					}
					else
					{					
						newArray.push(id);
						newArray.sort();
						var lista = newArray.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
						
					}			
				}	
				
				if ($(this).find("input:checkbox").is(":checked"))
					console.log("marcado");				
				else console.log("desmarcado");
					    
			});		
				
		});			
	</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		