<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body>
	
<div layout:fragment="content">
	<form name="form" th:action="@{/salvar}" id="form" th:object="${treinoExercicio}">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">Cadastro do Treino</h3>
	  	</div>	  
		<div class="panel-body">		
				<div class="form-group">
			      <label for="titulo">Nome do treino</label>
			      <input type="text" class="form-control" name="descricao" id="descricao" required="required" placeholder="Digite o nome do treino aqui..." th:field="*{treino.descricao}"> 	
			    </div>
			    <div class="form-group">
			      <label for="titulo">Data de vencimento</label>
			      <input type="date" class="form-control" name="data" id="data"  required="required"  th:value="*{#calendars.format(treino.data, 'yyyy-MM-dd')}"> 	
			    </div>		 
				<div id="myModal" class="modal fade" role="dialog">				
					<div class="modal-dialog">
					   <div class="modal-content">
							<div class="modal-header">
							   <button type="button" class="close" data-dismiss="modal">&times;</button>							   
							   <h4 class="modal-title">Incluir Exercício</h4>
							   <div class="mensagem-aviso"><small>Escolha um título e um exercício para cadastro</small></div>	
							 </div>
							 <!-- Basic inputs -->
							  <div class="modal-body">
							  	<div class="panel panel-default">
								  	<div class="panel-body">						         			              											 	
								 		<div class="form-group">
									      <label for="titulo" class="control-label">Título</label>
									      <select name="titulo" class=" selectpicker form-control" id="titulo" required="required">
									       		<option th:each="t : ${titulos}" th:selected="${t.id == treinoExercicio.titulo.id}"  th:value="${t.id}" th:text="${t.descricao}">DIA1</option>			       		
									   	  </select>
									    </div>
									    <div class="form-group">
									    	 <label for="titulo" class="control-label">Exercício</label>
											 <select name="exercicios" th:field="*{exercicio}" class="form-control" id="exercicios">									 	 
											        <option th:each="ex : ${exercicios}"  th:value="${ex.id}" th:text="${ex.descricao}">Alabama</option>										        									      								    
										    </select>
										</div>
									</div>
								</div>
							  </div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-info btn-md" id="salvar">Salvar</button>
							</div>
					   </div>			   				   				   
					</div>	
				</div>		   
					
				<input type="hidden" name="codigoDoTreino" id="codigoDoTreino" th:field="*{treino.id}">
				<button type="button" class="btn btn-info btn-sm" id="voltar"> Voltar para tela de treino <span class="glyphicon glyphicon-arrow-left"></span></button>
				<button type="button" class="btn btn-info btn-sm" id="adicionar">Adicionar exercício <span class="glyphicon glyphicon-plus"></span></button>				
				<!-- <input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
				
				<table class="table table-striped" id="table"> 
					<thead>
		            <tr>					                
						<th><h3><small>Descrição</small></h3></th>
						<th><h3><small>Grupo muscular</small></h3></th>
						<th><h3><small></small></h3></th>												                
		            </tr>
		        	</thead>		
					 <tbody>					 	
					 	<th:block th:each="t : ${titulosDoTreino}">
						 	<tr><td colspan="3" align="left" th:text="${t.descricao}"></td></tr>					 	
						 	<tr th:each="te : ${listaTe}" th:if="${te.titulo.id == t.id}">
						 		<td>	
						 			<a th:href="@{/editarExercicioTreino/{id}(id=${te.exercicio.id})}" th:id="${te.exercicio.id}" class="edita"><span th:text="${te.exercicio.descricao}" class="descricao-exercicio">Supino reto 4x10 + Cross over RM</span></a>
						 		</td>
						 		<td>
						 			<a th:href="@{/editarExercicioTreino/{id}(id=${te.exercicio.id})}" th:id="${te.exercicio.id}" class="edita"><span th:text="${te.exercicio.grupoMuscular.nome}" class="grupo-muscular">grupo muscular</span></a>
						 		</td>					 		
						 		<td class="text-center">							 										 			
									<a th:href="@{/excluirExercicioTreino/{id}(id=${te.exercicio.id})}" th:id="${te.exercicio.id}" class="btn btn-info btn-xs exclui" role="button" title="Excluir exercício atual"><span class="glyphicon glyphicon-trash"></span></a>
									<a th:href="@{/editarExercicioTreino/{id}(id=${te.exercicio.id})}"  th:id="${te.exercicio.id}" class="btn btn-info btn-xs edita" role="button" title="Alterar exerício atual"><span class="glyphicon glyphicon-pencil" ></span></a>								
				 				</td>
						 	</tr>
					 	</th:block>
					 </tbody> 
				</table>
	   </div>	
	</div>
</form>						
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
	<script th:inline="javascript">
		jQuery(function(){		
			
			//var _csrf_param = $("#_csrf_param").attr("value");			
			$("#voltar").on("click",function(){
				window.location.href ="/treinoeforma/treinos";
			});
			
			$("#adicionar").on("click",function(){
				
				if ($("#descricao").val().trim() === ""){					
					$.alert({
					    title: 'Atenção:',
					    content: "Preencha o campo: \"Nome do Treino\"",
					    type:'blue',
					    icon: 'glyphicon glyphicon-info-sign',
					    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true
					});					
					return false;
				}
				
				if ($("#data").val().trim() === ""){					
					$.alert({
					    title: 'Atenção:',
					    content: "Preencha o campo: \"Data de vencimento\"",
					    type:'blue',
					    icon: 'glyphicon glyphicon-info-sign',
					    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true
					});					
					return false;
				}
				
				 $('select[multiple].active.3col').multiselect({
			            columns: 1,
			            placeholder: 'Selecionar...',
			            search: true,			            
			            searchOptions: {
			                'default': 'Click aqui para pesquisar...'
			            },			            
			            selectAll: false,
			            onOptionClick : function( element, option ){			            	
			            	console.log(option.checked);
			            }
			     });
				 
				 $("#titulo").attr("disabled",false);
				 $("#myModal .modal-title").text("Incluir exercício");
	   			 $("#myModal .mensagem-aviso").text("Escolha um novo exerício para inclusão e clique em salvar");
				 $("#myModal").modal("show");
			});
			
			$("#table tbody tr").on('click','a',function(event) {				
				var item = $(this).closest('tr');								
				/* Excluindo um item */
		    	if ($(this).attr('class').indexOf('exclui') != -1){
		    		var id = $(this).attr("id");	    		
		    		$.confirm({
					    title: 'Atenção!',
					    content: 'Deseja realmente excluir este item?',
					    type:'blue',
					    icon: 'glyphicon glyphicon-info-sign',
					    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true,
					    autoClose:'Não|10000',		
					    buttons: {
					        Sim: function () {
					        	item.remove();
					        	/*
					        	$.ajax({
									url:'/treinoeforma/excluirExercicioDoTreino',
									data:{"id":id, "codigoDoTreino":$("#codigoDoTreino").val()},
									type:'post',
									dataType:'html',
									success:function(data){
										item.remove();
										//$.alert('Dados excluídos com sucesso!');
									}
								});
					        	*/
					        },
					        Não: function () {
					            //$.alert('Operação cancelada!');
					        }
					    }
					});
			    	event.preventDefault();
			      }
		    	
		    	/* Editando um item */
		    	if ($(this).attr('class').indexOf('edita') != -1){
		    		  console.log(item.find(".grupo-muscular").text("grupo"));
		    		  var id = $(this).attr("id");
		    		  console.log(id);
		    		  
		    		  /*
			   			 $.ajax({
			   				url:'/treinoeforma/editarExercicioTreino',
			   				data:{"id":$(this).attr("id")},
			   				type:'get',
			   				dataType:'json',
			   				success:function(data){						
			   					//$.each(data,function(chave,valor){							
			   						$("#id").val(data['id']);
			   						$("#descricao").val(data['descricao']);
			   						$("#grupoMuscular").find("option").each(function(i,obj){
			   							if (data['grupoMuscular'].id === i)
			   									obj.selected = true;
			   						});							
			   						mudaTituloModal('Alterar exercício');
			   						$("#myModal").modal("show");
			   					//});
			   				}
			   			});
			   			  */
		   				$("#titulo").attr("disabled",true);  	
		   			    $("#myModal .modal-title").text("Trocar exercício");
		   			    $("#myModal .mensagem-aviso").text("Escolha e clique em salvar");
		   				$("#myModal").modal("show");  
			   			event.preventDefault();
		    	}
			 });

			
			/*
			var array1 = new Array();
			var arr = new Array();
			var array2 = new Array();
			var arr2 = new Array();
			
			Array.prototype.verifica = function(val){				
				var array = new Array();
				array['result'] = false;
				array['pos']= null;						
				for (i=0; i < this.length; i++){
					if (this[i] == val){						
						array['result'] = true;
						array['pos']=i;						
						break;						
					}
				}
				return array;
			}
			*/
				
			/*
			var	 table = $('#exercicioTable').DataTable({							
			 	responsive:true,
			 	destroy:true,
			 	pageLength:5,						 	
			 	language:{
			 		info:"De _START_ Ao _END_ Total registros: _TOTAL_",
			 		lengthMenu:     "Mostrar _MENU_ linhas abaixo",
			 		search:"Pesquisar",				 		
			 		paginate:{
			 			previous:"Anterior",
			 			next:"Próximo"
			 		}
			 	},			 	
		        ajax:{
		        	url:"/treinoeforma/listaExercicioXHR",
		        	data:{
		        		'pCodigoTreino':$("#codigoTreino").val(),
		        		'pTitulo':$("#titulo option:selected").text()
		        		},
		        	dataSrc:""	        		
		        },
		        columns:[
		        		{data:"id"},
		            	{data:"descricao"},
		            	{data:"grupoMuscular.nome"}
		        ],
		        columnDefs: [{
		           targets: 0,
		           searchable: false,
		           orderable: false,
		           width: '1%',
		           className: 'dt-body-center',
		           render: function (data, type, full, meta){				        	   
		        	   if (type == 'display')
		        	   		var resp =$("#codigosSelecionados").val().indexOf(data) != -1 ? 'checked':'';
		        	   return "<a href='#' id='"+data+"'><input type='checkbox'  " + resp + "  value='"+data+"'>";
		           }
		        }]
		});
			*/
					 
			
			/*
			$('#exercicioTable tbody').on('click','a',function () {					 
				
				var item = $(this).attr("id");
				var table = $('#exercicioTable').DataTable();
				var id = table.row($(this).parents('tr')).data().id;
				 		
				if ($.trim($("#codigosSelecionados").val()) === ""){
					$("#codigosSelecionados").val(id);
					console.log($("#codigosSelecionados").val());
				}
				else
				{
					var codigos = $("#codigosSelecionados").val();
					array1 = codigos.split(',');								
					arr = array1.verifica(id);
					
					if (arr['result']){					
						array1.splice(arr['pos'],1);
						array1.sort();
						var lista = array1.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
					}
					else
					{					
						array1.push(id);
						array1.sort();
						var lista = array1.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
						
					}			
				}
				*/
				
				/*
				if ($(this).find("input:checkbox").is(":checked")){
					
					if ($.trim($("#codigosParaExclusao").val()) === ""){
						$("#codigosParaExclusao").val(id);
						console.log($("#codigosParaExclusao").val());
					}
					else
					{
						var codigos2 = $("#codigosParaExclusao").val();
						array2 = codigos2.split(',');
						arr2 = array2.verifica(id);
											
						if (arr2['result']){					
							array2.splice(arr2['pos'],1);
							array2.sort();
							var lista2 = array2.join();
							$("#codigosParaExclusao").val(lista2);
							console.log($("#codigosParaExclusao").val());
						}
					}
							
				}else{					
					array2.push(id);
					array2.sort();
					var lista2 = array2.join();
					$("#codigosParaExclusao").val(lista2);
					console.log($("#codigosParaExclusao").val());
					
				}
					    
			});		
			*/
		});			
	</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		