<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>	
<div layout:fragment="content">
				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">				
					<div class="modal-dialog">				  
					  <!-- Modal content-->
					   <div class="modal-content">
							<div class="modal-header">
							   <button type="button" class="close" data-dismiss="modal">&times;</button>
							   <h4 class="modal-title"> Alterar exercício</h4>
							   <div class="mensagem-aviso"></div>	
							 </div>
							 <div class="modal-body">
							 	<form class="form-horizontal" role="form" th:action="@{/salvar}" method="POST" th:object="${exercicio}">
					              <!-- Basic inputs -->
					              <div class="panel panel-default">
					                <div class="panel-body">
						                <div class="form-group">
						                   <label class="col-sm-2 control-label">Descrição </label> 
						                   <div class="col-sm-10">	                      
						                     <input id="descricao" type="text" required="required" min="3" class="form-control" placeholder="descreva o exercício" th:field="*{descricao}" />
						                   </div>
						                </div>
					  					<div class="form-group">
											<label class="col-sm-2 control-label">Grupo muscular </label>
											<div class="col-sm-10">
					                            <select th:field="*{grupoMuscular}" id="grupoMuscular" required="required"  class="form-control"> 
					                           		<option th:value="''"></option>                              			                               			
					                				<option th:each="grupoMuscular : ${grupoMuscular}" th:value="${grupoMuscular.id}" th:text="${grupoMuscular.nome}"></option>                						                						                						
					            		 		</select>                                
					 						</div>
									    </div>
					                    <div class="form-actions text-left">
					                     	<input type="hidden" id="id" name="id" th:field="*{id}" />
					                     	<input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					                	</div>
										<br/>
					                </div>
					              </div>
					   		    </form>
							  </div>					  						 	
							 <div class="modal-footer">
							 	<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-check"></span> Salvar</button>						 	
							   	<!-- <button id="cmdFechar" type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>-->					   	
							 </div>
					   </div>			   				   				   
					</div>	
				</div>
			
			  <div class="panel panel-default">
					<div class="panel-heading">
					    <h3 class="panel-title">Treinos</h3>
					</div>
			  <div class="panel-body">
				<form id="form" th:action="@{/montar}">
					<div class="panel panel-info">
  						<div class="collapse.in" id="collapseExample">						
  							<div class="panel-body">
  								<div class="form-group">  									 									
							    	<label for="treinos">Treinos cadastrados <span th:text="${listaTe.size()}" class="badge"></span></label>								    	
						      		<select  id="treinos" class="selectpicker form-control">							      		    
						       			<option  th:each="treinoExercicio,obj : ${listaTe}" th:selected="${treinoExercicio.treino.id==treino.id}" th:value="${treinoExercicio.treino.id}" th:text="${listaTe[obj.index].treino.descricao}">Treino A</option>
						   	  		</select>
						    	</div>
								<div class="form-group">
							      <label for="dataInicio">Data</label>
							      <input  type="date" class="form-control" id="dataInicio" placeholder="Data" title="Data de início do treino dd/mm/aaaa"  th:value="${data}">
								</div>
							    <input type="hidden" name="treinoId" id="treinoId">
								<input type="hidden" name="tituloId" id="tituloId">									
								<!-- <input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
								<a class="btn btn-info btn-sm" th:href="@{/novo}" role="button">Novo treino <span class="glyphicon glyphicon-plus"></span></a>
								<a class="btn btn-info btn-sm" th:href="@{/pdf}" role="button" id="pdf">Gerar treino em PDF <span class="glyphicon glyphicon-download"></span></a>
					  		</div> 
						</div>	
						
						<div class="panel-body">
								<div class="form-group">
							    	<label for="treinos">Exibir exerícios por título</label>
						      		<select   name="titulos" class="selectpicker form-control"  id="titulos">
						       			<option th:each="t : ${titulosDoTreino}" th:selected="${t.id == titulo.id}" th:value="${t.id}" th:text="${t.descricao}" ></option>			       			
						   	  		</select>
				    			</div>						    	
								<table class="table table-striped" id="table"> 
									<thead>
						            <tr>					                
										<th><h3><small>Descrição</small></h3></th>
										<th><h3><small>Grupo muscular</small></h3></th>
										<th><h3><small></small></h3></th>												                
						            </tr>
						        	</thead>		
									 <tbody>							 	
									 	<tr><td colspan="3" align="center" th:text="${titulo.descricao}">DIA1</td></tr>				 	
									 	<tr th:each="te : ${listaTePorDia}">			 		
									 		<td>	
									 			<span th:text="${te.exercicio.descricao}">Supino reto 4x10 + Cross over RM</span>
									 		</td>
									 		<td>
									 			<span th:text="${te.exercicio.grupoMuscular.nome}">grupo muscular</span>
									 		</td>
									 		<td class="text-center">							 										 			
												<a th:href="@{/excluirExercicioTreino/{id}(id=${te.id})}" th:id="${te.id}" class="btn btn-info btn-xs exclui" role="button" title="Excluir"><span class="glyphicon glyphicon-trash"></span></a>
												<a th:href="@{/editarExercicioTreino/{id}(id=${te.id})}"  th:id="${te.id}" class="btn btn-info btn-xs edita" role="button" title="Editar"><span class="glyphicon glyphicon-pencil" ></span></a>								
							 				</td>
									 	</tr>
									 </tbody> 
								</table>
								<div th:if="${listaTe.size() > 0}" class="center-block">	
						    		<a  href="#" class="btn btn-info adiciona" role="button" title="Adicionar">Adicionar exercício</a>
						    	</div>
						</div>
				</div>
			</form>
		</div>
	</div>
</div>	<!-- ./content -->

<!-- JQuery -->
	
<div layout:fragment="scripts">
<script th:inline="javascript">
jQuery(function(){	
	
	
	
	$("#treinos").on("change",function(){
		$("#treinoId").val($(this).val());
		$("#tituloId").val("");		
		$("#form").submit();
	});	
	
	$("#titulos").on("change",function(){
		$("#tituloId").val($(this).val());
		$("#treinoId").val($("#treinos").val());		
		$("#form").submit();
	});	
	
	$("#excluir").on("click",function(){
		$.alert({
		    title: 'Atenção:',
		    content: "Funcionalidade ainda em construção...",
		    type:'blue',
		    icon: 'glyphicon glyphicon-info-sign',
		    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
		    closeIcon: true
		});					
		return false;		
	});
	
	$("#pdf").on("click",function(){
		$.alert({
		    title: 'Atenção:',
		    content: "Funcionalidade ainda em construção...",
		    type:'blue',
		    icon: 'glyphicon glyphicon-info-sign',
		    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
		    closeIcon: true
		});					
		return false;		
	});

	
	$('#collapseExample').on('hidden.bs.collapse', function () { $("#esconderPainel").text("Mostrar painel");});	
	$('#collapseExample').on('shown.bs.collapse', function () {	$("#esconderPainel").text("Esconder painel");});
	
	/*
		$("#novo").on("click",function(){
				$("<input/>").addClass("btn btn-default").attr({"type":"button","value":"Incluir exercícios"}).insertAfter($(this));
				$(this).remove();
		});
	*/
	
	$("#table tbody tr").on('click','a',function(event) {				
		
		//var array = new Array();				
		var item = $(this).closest('tr');				
		
		if ($(this).attr('class').indexOf('exclui') != -1){			
			var id = $(this).attr("id");    		
    		$.confirm({
			    title:'Atenção!',
			    content:'Deseja realmente excluir este item?',
			    type:'blue',
			    icon:'glyphicon glyphicon-info-sign',
			    theme:'bootstrap', // 'material', 'bootstrap','supervan'
			    closeIcon: true,
			    autoClose:'Não|10000',		
			    buttons: {
			        Sim: function () {
			        	$.ajax({
							url:'/treinoeforma/excluirTE',
							data:{"id":id},
							type:'get',
							dataType:'html',
							success:function(data){
								item.remove();										
								//$.alert('Dados excluídos com sucesso!');
							}
						});
			        },
			        Não: function () {
			            //$.alert('Operação cancelada!');
			        }
			    }
			});
	    	event.preventDefault();
	      }
    	
    	if ($(this).attr('class').indexOf('edita') != -1){
    		  	
	    		var id = $(this).attr("id");
	    		var href = $(this).attr("href");
	    		var newArray = Array();
	    		newArray = href.split('/');
	   			$("#salvar").remove();
	   			$("#salvarAlteracao").remove();
				$("<input>").attr({'type':'button','class':'btn btn-info btn-md','id':'salvarAlteracao','value':'Salvar'}).appendTo(".modal-footer");
				$(document).on("click","#salvarAlteracao",function(){
					var exercicioId = $("#exercicio option:selected").val();
						var tituloId = $("#titulo option:selected").val();
						var treinoId = $("#treinoId").val();
						//console.log(JSON.stringify(obj));
						$("#myModal").modal("hide");
						$.ajax({
		   				url:'/treinoeforma/editarTE',
		   				data:{"id":id,"exercicioId":exercicioId,'treinoId':treinoId,'tituloId':tituloId},
		   				type:'get',
		   				dataType:'json',
		   				success:function(data){				   					
		   					newArray[3]=data["id"];
				    		href = newArray.join('/');
				    		$(this).attr("href",href);
	   						$("#id").val(data['id']);
	   						item.find(".grupo-muscular").text(data['exercicio'].grupoMuscular.nome);
		   					item.find(".descricao-exercicio").text(data['exercicio'].descricao);
		   				}
		   			});
			 	});
   				$("#titulo").attr("disabled",true);  	
   			    $("#myModal .modal-title").text("Aletar exercício");		   			    
   				$("#myModal").modal("show");  
	   			event.preventDefault();
    	}
	 });

		
});			
</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		