<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
</head>

<body>
	<!-- 	
	<h1 layout:fragment="header">
		<small>Formulário para cadastro dos exercícios <span class="glyphicon glyphicon-pencil"></span></small>
	</h1>
	 -->
	
<div layout:fragment="content">
	<div class="panel panel-default">
		<div class="panel-body">
			<form id="form" th:action="@{/montar}">
			<!-- 
				<div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="dataInicio"><span><h3><small>Data de início</small></h3></span></label>
				      <input  type="date" class="form-control" id="dataInicio" placeholder="Data início">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="dataFim"><span><h3><small>Data fim</small></h3></span></label>
				      <input type="date" class="form-control" id="dataFim" placeholder="Data fim">
				    </div>
				</div>
			 -->	
				<div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="titulo"><span><h3><small>Título</small></h3></span></label>
				      <select name="titulo" class="selectpicker form-control" id="titulo">
				       		<option>DIA1</option>
				       		<option>DIA2</option>
				       		<option>DIA3</option>
				   	  </select>
				    </div>
				</div>
				<div class="form-row">
				    <div class="form-group col-md-6">				
						<button type="button" class="btn btn-info" id="novoTitulo">Incluir novo título</button>
					</div>
				</div>
			    <div class="form-row">
			   		<div class="form-group col-xs-12">
					   <table class="table table-striped" id="table"> 
							<thead>
					            <tr>
					            	<th><span class="label label-default"></span></th>					                
									<th><h3><small>Descrição</small></h3></th>
									<th><h3><small>Grupo muscular</small></h3></th>												                
					            </tr>
				        	</thead>		
							 <tbody>				 	
							 	<tr th:each="exercicio : ${exercicios}">
							 		<td>
							 			<input type="checkbox"  name="boxExercicio" class="boxExercicio" th:checked="${#strings.contains({codigosMarcados},exercicio.id)} ? true : false"  th:value="${exercicio.id}">
							 		</td>			 		
							 		<td>	
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="adiciona"><span th:text="${exercicio.descricao}">Supino reto 4x10 + Cross over RM</span></a>
							 		</td>
							 		<td>
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="adiciona"><span th:text="${exercicio.grupoMuscular.nome}">grupo muscular</span></a>
							 		</td>					 		
							 	</tr>
							 </tbody>
						</table>
						<input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						<input type="hidden" name="codigoExercicio" id="codigoExercicio" th:value="${codigosMarcados}">
					</div>	
			  	 </div> 
			</form>
			
			<div class="form-row">
		   		<div class="form-group col-xs-12">
					<!-- Start div table-footer -->				
					 <div class="table-footer">
		                   <ul class="pagination">
	                         <li th:class="${page.isFirstPage()}? 'disabled' : ''">
	       						<span th:if="${page.isFirstPage()}">Primeiro</span>
	       						<a th:id="primeiro" th:if="${not page.isFirstPage()}" th:href="@{${page.getUrl()}(page=0,size=${page.getSize()},codigoExercicio=${codigosMarcados},titulo=${titulo})}">Primeiro</a>
	     					 </li>
		     					 
							 <li th:class="${page.isHasPreviousPage()}? '' : 'disabled'">
							    <span th:if="${not page.isHasPreviousPage()}">«</span>
							    <a th:id="anterior" th:if="${page.isHasPreviousPage()}" th:href="@{${page.getUrl()}(page=${page.getNumber()-2},size=${page.getSize()},codigoExercicio=${codigosMarcados},titulo=${titulo})}" title='Ir para anterior'>«</a>
							 </li>						 
							 
						     <li th:each="item : ${page.getItems()}" th:class="${item.isCurrent()} ? 'active' : ''">
						       	<span th:if='${item.isCurrent()}' th:text='${item.getNumber()}'>1</span>
						       	<a th:id="atual" th:if="${not item.isCurrent()}" th:href="@{${page.getUrl()}(page=${item.getNumber()-1},size=${page.getSize()},codigoExercicio=${codigosMarcados},titulo=${titulo})}"><span th:text='${item.getNumber()}'>1</span></a>
						     </li>
						     
						     <li th:class="${page.isHasNextPage()}? '' : 'disabled'">
						       <span th:if="${not page.isHasNextPage()}">»</span>
						       <a th:id="proximo" th:if="${page.isHasNextPage()}" th:href='@{${page.getUrl()}(page=${page.getNumber()},size=${page.getSize()},codigoExercicio=${codigosMarcados},titulo=${titulo})}' title='Ir para próxima'>»</a>
						     </li>
						      
						     <li th:class="${page.isLastPage()}? 'disabled' : ''">
						       <span th:if='${page.isLastPage()}'>Último</span>
						       <a th:id="ultimo" th:if="${not page.isLastPage()}" th:href="@{${page.getUrl()}(page=${page.getTotalPages()-1},size=${page.getSize()},codigoExercicio=${codigosMarcados},titulo=${titulo})}">Último</a>
						     </li>
		                   </ul>
				    </div>
				    <!-- End div table-footer -->
				</div>	
			</div>			
		</div>
		<div class="panel-body">
		<div class="form-row">
			<div class="form-group col-md-6">
				<button type="button" class="btn btn-info" id="voltar">Voltar</button>				
				<button type="button" class="btn btn-info" id="adicionar">Adicionar exercícios</button>
			</div>
		</div>		
		</div>
	</div>							
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
<script th:inline="javascript">
jQuery(function(){			
	
		var newArray = new Array();
		var arr = new Array();
		
		Array.prototype.verificaParaInclusao = function(val){
			var array = new Array();
			array['result'] = false;
			array['pos']= null;						
			for (i=0; i < this.length; i++){
				if (newArray[i] == val){						
					array['result'] = true;
					array['pos']=i;
					break;						
				}
			}
			return array;
		}
		
		$(".boxExercicio").on("click",function(){			
			if ($.trim($("#codigoExercicio").val()) === ""){
				$("#codigoExercicio").val($(this).val());				
			}
			else{
				var codigos = $("#codigoExercicio").val();
				newArray = codigos.split(',');								
				arr = newArray.verificaParaInclusao($(this).val());
				if (arr['result']){					
					newArray.splice(arr['pos'],1);
					newArray.sort();
					var lista = newArray.join();
					$("#codigoExercicio").val(lista);
					console.log($("#codigoExercicio").val());
				}
				else{					
					newArray.push($(this).val());
					newArray.sort();
					var lista = newArray.join();
					$("#codigoExercicio").val(lista);
					console.log($("#codigoExercicio").val());
				}	
				
			}
		});
		
		$("#primeiro").on("click",function(){
			
		});
		
		$("#anterior").on("click",function(){
			alert('anterio');
		});
		
		$("#atual").on("click",function(){
			alert('atual');
		});
		
		$("#proximo").on("click",function(){
			alert('proximo');
		});
		
		$("#ultimo").on("click",function(){
			alert('ultimo');
		});
		
		$("#voltar").on("click",function(){
				console.log("voltar");
		});
		
		$("#adicionar").on("click",function(){
			$("#form").submit();
		});
		
		
});			
</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		