<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<body>	
<div layout:fragment="content">
	<form name="form" th:action="@{/salvarTreino}" id="form" th:object="${treinoExercicio}" method="post">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title">Cadastro do Treino</h3>
	  	</div>	  
		<div class="panel-body">		
				<div class="form-group">
			      <label for="titulo">Nome do treino</label>
			      <input type="text" class="form-control" name="descricao" id="descricao" required="required" title="Nome do treino" placeholder="Digite o nome do treino aqui..." th:field="*{treino.descricao}"> 	
			    </div>
			    <div class="form-group">
			      <label for="titulo">Data de vencimento</label>
			      <input type="date" class="form-control" name="data" id="data"  required="required"  th:value="*{#calendars.format(treino.data, 'yyyy-MM-dd')}"> 	
			    </div>		 
				<div id="myModal" class="modal fade" role="dialog">				
					<div class="modal-dialog">
					   <div class="modal-content">
							<div class="modal-header">
							   <button type="button" class="close" data-dismiss="modal">&times;</button>							   
							   <h4 class="modal-title">Incluir Exercício</h4>
							   <div class="mensagem-aviso"><small></small></div>	
							 </div>
							 <!-- Basic inputs -->
							  <div class="modal-body">
							  	<div class="panel panel-default">
								  	<div class="panel-body">						         			              											 	
								 		<div class="form-group">
									      <label for="titulo" class="control-label">Título</label>
									      <select name="titulo" class=" selectpicker form-control" id="titulo" required="required">
									       		<option th:each="t : ${titulos}" th:selected="${t.id == treinoExercicio.titulo.id}"  th:value="${t.id}" th:text="${t.descricao}">DIA1</option>			       		
									   	  </select>
									    </div>
									    <div class="form-group">
									    	 <label for="exercicio" class="control-label">Exercício</label>
											 <select name="exercicio" th:field="*{exercicio}" class="form-control" id="exercicio" required="required">	
											 		<option th:value="''"></option>
					                            	<th:block th:each="g : ${grupos}">
					                           			<optgroup th:label="${g.nome}">										 	 
											        		<option th:each="ex : ${exercicios}" th:if="${ex.grupoMuscular.id == g.id}"  th:value="${ex.id}" th:text="${ex.descricao}">Alabama</option>
											        	</optgroup>
											        </th:block>										        									      								    
										    </select>
										</div>
									</div>
								</div>
							  </div>
							<div class="modal-footer">
									<button id="salvar" type="button" class="btn btn-info" data-dismiss="modal">Salvar</button>								
							</div>
					   </div>			   				   				   
					</div>	
				</div>		   
				
				<input type="hidden" name="action" id="action">
				<input type="hidden" name="treinoExercicioId" id="treinoExercicioId">	
				<input type="hidden" name="treinoId" id="treinoId" th:field="*{treino.id}">
				<button type="button" class="btn btn-info btn-sm" id="voltar"> Voltar <span class="glyphicon glyphicon-arrow-left"></span></button>
				<button type="button" class="btn btn-info btn-sm" id="adicionar">Adicionar exercício <span class="glyphicon glyphicon-plus"></span></button>				
				<input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				
				<table class="table table-striped" id="table"> 
					<thead>
		            <tr>					                
						<th><h3><small>Descrição</small></h3></th>
						<th><h3><small>Grupo muscular</small></h3></th>
						<th><h3><small></small></h3></th>												                
		            </tr>
		        	</thead>		
					 <tbody>					 	
					 	<th:block th:each="t : ${titulosDoTreino}">
						 	<tr><td colspan="3" align="center" th:text="${t.descricao}"></td></tr>					 	
						 	<tr th:each="te : ${listaTe}" th:if="${te.titulo.id == t.id}">
						 		<td>	
						 			<span th:text="${te.exercicio.descricao}" th:id="${te.exercicio.id}" class="span-exercicio">Supino reto 4x10 + Cross over RM</span>
						 		</td>
						 		<td>
						 			<span th:text="${te.exercicio.grupoMuscular.nome}"  th:id="${te.exercicio.id}" class="span-grupo-muscular">grupo muscular</span>
						 		</td>					 		
						 		<td class="text-center">							 										 			
									<a th:href="@{/treinoExercicioExcluir/{id}(id=${te.id})}" th:id="|${te.id},${te.titulo.id}|" class="btn btn-info btn-xs exclui" role="button" title="Excluir exercício atual"><span class="glyphicon glyphicon-trash"></span></a>
									<a th:href="@{/treinoExercicio/{id}(id=${te.id})}"  th:id="|${te.id},${te.titulo.id}|" class="btn btn-info btn-xs edita" role="button" title="Alterar exerício atual"><span class="glyphicon glyphicon-pencil" ></span></a>								
				 				</td>
						 	</tr>
					 	</th:block>
					 </tbody> 
				</table>
	   </div>	
	</div>
</form>						
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
	<script th:inline="javascript">
		jQuery(function(){		
			
			var _csrf = $("#_csrf_param").attr("value");			
			
			$("#voltar").on("click",function(){
				window.location.href ="/treinos";
			});						
			
			var item;
			var descricaoGrupo;
			var newArray = Array();
			var descricaoExercicio;
			
			$("#salvar").on("click",function(){
				var action = $("#action").val();
				
				if (action === "adicionar"){
					if ($("#exercicio option:selected").val() === ""){					
						$.alert({
						    title: 'Atenção:',
						    content: "Você deve escolher um exercício para inclusão!",
						    type:'blue',
						    icon: 'glyphicon glyphicon-info-sign',
						    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
						    closeIcon: true
						});					
						return false;
					}
					$("#form").submit();	
				}
				
				if (action === "editar"){					
					if ($("#exercicio option:selected").val() === ""){					
						$.alert({
						    title: 'Atenção:',
						    content: "Você deve escolher um exercício para alteração!",
						    type:'blue',
						    icon: 'glyphicon glyphicon-info-sign',
						    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
						    closeIcon: true
						});					
						return false;
					}
					
					var id = $("#treinoExercicioId").val();
					var treinoId = $("#treinoId").val();
					var exercicioId = $("#exercicio option:selected").val();
					var tituloId = $("#titulo option:selected").val();					
					$.ajax({
	   				url:'/treinoeforma/editarTE',
	   				data:{'id':id,'exercicioId':exercicioId,'treinoId':treinoId,'tituloId':tituloId,'_csrf':_csrf},
	   				type:'post',
	   				dataType:'json',
	   				success:function(data){    		
				    		item.find('.span-exercicio').text(data['exercicio'].descricao);
			    			item.find('.span-grupo-muscular').text(data['exercicio'].grupoMuscular.nome);
	   					}
	   				});
				}					
			});
			
		
			$("#adicionar").on("click",function(){
				
				if ($("#descricao").val().trim() === ""){					
					$.alert({
					    title: 'Atenção:',
					    content: "Preencha o campo: \"Nome do Treino\"",
					    type:'blue',
					    icon: 'glyphicon glyphicon-info-sign',
					    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true
					});					
					return false;
				}
				
				if ($("#data").val().trim() === ""){					
					$.alert({
					    title: 'Atenção:',
					    content: "Preencha o campo: \"Data de vencimento\"",
					    type:'blue',
					    icon: 'glyphicon glyphicon-info-sign',
					    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true
					});					
					return false;
				}
				
				/*
				 $('select[multiple].active.3col').multiselect({
			            columns: 1,
			            placeholder: 'Selecionar...',
			            search: true,			            
			            searchOptions: {
			                'default': 'Click aqui para pesquisar...'
			            },			            
			            selectAll: false,
			            onOptionClick : function( element, option ){			            	
			            	console.log(option.checked);
			            }
			     });
				*/
				$("#titulo").attr("disabled",false);
				$("#action").val("adicionar");
				$("#myModal .modal-title").text("Incluir exercício");	   			 
				$("#myModal").modal("show");
			});
			
			
			$("#table tbody tr").on('click','a',function(event) {				
				item = $(this).closest('tr');				
				if ($(this).attr('class').indexOf('exclui') != -1){
					var ids = $(this).attr("id");
					var array = ids.split(',');
					var id = array[0];
		    		$.confirm({
					    title:'Atenção!',
					    content:'Deseja realmente excluir este item?',
					    type:'blue',
					    icon:'glyphicon glyphicon-info-sign',
					    theme:'bootstrap', // 'material', 'bootstrap','supervan'
					    closeIcon: true,
					    autoClose:'Não|10000',		
					    buttons: {
					        Sim: function () {
					        	$.ajax({
									url:'/treinoeforma/excluirTE',
									data:{"id":id},
									type:'get',
									dataType:'html',
									success:function(data){
										item.remove();										
										//$.alert('Dados excluídos com sucesso!');
									}
								});
					        },
					        Não: function () {
					            //$.alert('Operação cancelada!');
					        }
					    }
					});
			    	event.preventDefault();
			    }
		    	
		    	if ($(this).attr('class').indexOf('edita') != -1){		    		  	
			    		var ids = $(this).attr("id");
			    		var array = ids.split(',');
			    		var id = array[0];
			    		var tituloId = array[1];
			    		$("#titulo option").each(function(){
			    			if ($(this).val() === tituloId)
			    				$(this).prop("selected",true);
			    		});
						$("#treinoExercicioId").val(id);
						$("#action").val("editar");   	
						$("#titulo").attr("disabled",true);  	
		   			    $("#myModal .modal-title").text("Aletar exercício");
		   				$("#myModal").modal("show");  
			   			event.preventDefault();
		    		}
			 	});

			
			/*
			var array1 = new Array();
			var arr = new Array();
			var array2 = new Array();
			var arr2 = new Array();
			
			Array.prototype.verifica = function(val){				
				var array = new Array();
				array['result'] = false;
				array['pos']= null;						
				for (i=0; i < this.length; i++){
					if (this[i] == val){						
						array['result'] = true;
						array['pos']=i;						
						break;						
					}
				}
				return array;
			}
			*/
				
			/*
			var	 table = $('#exercicioTable').DataTable({							
			 	responsive:true,
			 	destroy:true,
			 	pageLength:5,						 	
			 	language:{
			 		info:"De _START_ Ao _END_ Total registros: _TOTAL_",
			 		lengthMenu:     "Mostrar _MENU_ linhas abaixo",
			 		search:"Pesquisar",				 		
			 		paginate:{
			 			previous:"Anterior",
			 			next:"Próximo"
			 		}
			 	},			 	
		        ajax:{
		        	url:"/treinoeforma/listaExercicioXHR",
		        	data:{
		        		'pCodigoTreino':$("#codigoTreino").val(),
		        		'pTitulo':$("#titulo option:selected").text()
		        		},
		        	dataSrc:""	        		
		        },
		        columns:[
		        		{data:"id"},
		            	{data:"descricao"},
		            	{data:"grupoMuscular.nome"}
		        ],
		        columnDefs: [{
		           targets: 0,
		           searchable: false,
		           orderable: false,
		           width: '1%',
		           className: 'dt-body-center',
		           render: function (data, type, full, meta){				        	   
		        	   if (type == 'display')
		        	   		var resp =$("#codigosSelecionados").val().indexOf(data) != -1 ? 'checked':'';
		        	   return "<a href='#' id='"+data+"'><input type='checkbox'  " + resp + "  value='"+data+"'>";
		           }
		        }]
		});
			*/
					 
			
			/*
			$('#exercicioTable tbody').on('click','a',function () {					 
				
				var item = $(this).attr("id");
				var table = $('#exercicioTable').DataTable();
				var id = table.row($(this).parents('tr')).data().id;
				 		
				if ($.trim($("#codigosSelecionados").val()) === ""){
					$("#codigosSelecionados").val(id);
					console.log($("#codigosSelecionados").val());
				}
				else
				{
					var codigos = $("#codigosSelecionados").val();
					array1 = codigos.split(',');								
					arr = array1.verifica(id);
					
					if (arr['result']){					
						array1.splice(arr['pos'],1);
						array1.sort();
						var lista = array1.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
					}
					else
					{					
						array1.push(id);
						array1.sort();
						var lista = array1.join();
						$("#codigosSelecionados").val(lista);
						console.log($("#codigosSelecionados").val());
						
					}			
				}
				*/
				
				/*
				if ($(this).find("input:checkbox").is(":checked")){
					
					if ($.trim($("#codigosParaExclusao").val()) === ""){
						$("#codigosParaExclusao").val(id);
						console.log($("#codigosParaExclusao").val());
					}
					else
					{
						var codigos2 = $("#codigosParaExclusao").val();
						array2 = codigos2.split(',');
						arr2 = array2.verifica(id);
											
						if (arr2['result']){					
							array2.splice(arr2['pos'],1);
							array2.sort();
							var lista2 = array2.join();
							$("#codigosParaExclusao").val(lista2);
							console.log($("#codigosParaExclusao").val());
						}
					}
							
				}else{					
					array2.push(id);
					array2.sort();
					var lista2 = array2.join();
					$("#codigosParaExclusao").val(lista2);
					console.log($("#codigosParaExclusao").val());
					
				}
					    
			});		
			*/
		});			
	</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		