<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
</head>

<body>
	<!-- 	
	<h1 layout:fragment="header">
		<small>Formulário para cadastro dos exercícios <span class="glyphicon glyphicon-pencil"></span></small>
	</h1>
	 -->
	
<div layout:fragment="content">				
				<form id="form" th:action="@{/montar}" method="post">
					<div class="panel panel-info">
	  						<div class="panel-heading"> <h3 >Ficha de Treino</h3> 
	  							<button id="esconderPainel" class="btn btn-default btn-md" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Painel</button>
	  						</div>  	
	  						<div class="collapse.in" id="collapseExample">						
	  							<div class="panel-body">
	  								<div class="form-group">
								    	<label for="treinos"><span><h3>Meus treinos cadastrados</h3></span></label>
							      		<select   name="treinos" class="selectpicker form-control btn-default" id="titulo">
							       			<option th:each="treino : ${treino}" th:value="${treino.id}" th:text="${treino.descricao}">Treino A</option>
							   	  		</select>
							    	</div>
		
									<div class="form-group">
								      <label for="descricao"><span><h3>Curtidas</h3></span></label>
								      <input  type="text" class="form-control" id="curtidas" th:field="${treino.curtidas}" disabled="disabled">
								    </div>
								
									<div class="form-group">
								      <label for="dataInicio"><span><h3>Data</h3></span></label>
								      <input  type="date" class="form-control" id="dataInicio" placeholder="Data" title="Data de início do treino dd/mm/aaaa"  th:value="${data}" disabled="disabled">
									</div>
									
								    <button name="action" id="excluir" class="btn btn-default" value="excluir" title="Exclui o treino atual selecionado">Excluir <span class="glyphicon glyphicon-trash glyphicon"></span></button>
								    <button name="action" id="alterar" class="btn btn-default" value="alterar" title="Altera o treino selecionado">Alterar <span class="glyphicon glyphicon-ok"></span></button>							    
								    <button name="action" id="novo" class="btn btn-default" value="novo" title="Inclui um novo treino">Novo <span class="glyphicon glyphicon-plus"></span></button>
								    <button name="action" id="geraPdf" class="btn btn-default" value="geraPdf" title="Gerar arquivo em pdf">pdf <span class="glyphicon glyphicon-save"></span></button>
									<input type="hidden" name="codigoTreino" id="codigoTreino" class="btn btn-default">
																    
								</div>
						  </div> 
					</div>	
				</form>				
				<div class="panel panel-info">
					<div class="panel-heading"> <h3>Exercicíos</h3></div>
					<div class="panel-body">	
						<table class="table table-striped" id="table"> 
							<thead>
				            <tr>					                
								<th><h3><small>Descrição</small></h3></th>
								<th><h3><small>Grupo muscular</small></h3></th>
												                
				            </tr>
				        	</thead>		
							 <tbody>				 	
							 	<tr th:each="exercicio : ${exercicios}">			 		
							 		<td>	
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.descricao}">Supino reto 4x10 + Cross over RM</span></a>
							 		</td>
							 		<td>
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.grupoMuscular.nome}">grupo muscular</span></a>
							 		</td>
							 	</tr>
							 </tbody> 
						</table>
					</div>
				</div>
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
<script th:inline="javascript">
jQuery(function(){	
	
	 
	
	/*
		$("#novo").on("click",function(){
				$("<input/>").addClass("btn btn-default").attr({"type":"button","value":"Incluir exercícios"}).insertAfter($(this));
				$(this).remove();
		});
	*/
		
});			
</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		