<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
</head>

<body>
	<!-- 	
	<h1 layout:fragment="header">
		<small>Formulário para cadastro dos exercícios <span class="glyphicon glyphicon-pencil"></span></small>
	</h1>
	 -->
	
<div layout:fragment="content">				
				<form id="form" th:action="@{/montar}">
					<div class="panel panel-info">
	  						<div class="panel-heading"> <h4>Ficha de Treino</h4> 
	  							<button id="esconderPainel" class="btn btn-info btn-md" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Esconder painel</button>
	  						</div>  	
	  						<div class="collapse.in" id="collapseExample">						
	  							<div class="panel-body">
	  								<div class="form-group">
								    	<label for="treinos"><span><h4>Treinos cadastrados <span th:text="${listaTe.size()}" class="badge"></span></h4></span></label>								    	
							      		<select  id="treinos" class="selectpicker form-control btn-default">							      		    
							       			<option  th:each="treinoExercicio,obj : ${listaTe}" th:selected="${treinoExercicio.treino.id==treino.id}" th:value="${treinoExercicio.treino.id}" th:text="${listaTe[obj.index].treino.descricao}">Treino A</option>
							   	  		</select>
							   	  		
							    	</div>
									
									<!--	
									<div class="form-group">
								      <label for="descricao"><span><h3>Curtidas</h3></span></label>
								      <input  type="text" class="form-control" id="curtidas" th:field="${treino.curtidas}" disabled="disabled">
								    </div>
								    -->
								
									<div class="form-group">
								      <label for="dataInicio"><span><h4>Data</h4></span></label>
								      <input  type="date" class="form-control" id="dataInicio" placeholder="Data" title="Data de início do treino dd/mm/aaaa"  th:value="${data}" disabled="disabled">
									</div>
									
								    <input type="hidden" name="codigoTreino" id="codigoTreino">
									<input type="hidden" name="codigoTitulo" id="codigoTitulo">									
									<!-- <input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
									
									
									<a class="btn btn-info btn-sm" th:href="@{/excluir}" role="button">Excluir <span class="glyphicon glyphicon-trash glyphicon"></span></a>
									<a class="btn btn-info btn-sm" th:href="@{/alterar}" role="button">Alterar <span class="glyphicon glyphicon-ok"></span></a>
									<a class="btn btn-info btn-sm" th:href="@{/novo}" role="button">Novo <span class="glyphicon glyphicon-plus"></span></a>
									<a class="btn btn-info btn-sm" th:href="@{/pdf}" role="button">pdf <span class="glyphicon glyphicon-save"></span></a>
									
									<!--
								    <button name="action" id="excluir" class="btn btn-default btn-sm" value="excluir" title="Exclui o treino atual selecionado">Excluir <span class="glyphicon glyphicon-trash glyphicon"></span></button>
								    <button name="action" id="alterar" class="btn btn-default btn-sm" value="alterar" title="Altera o treino selecionado">Alterar <span class="glyphicon glyphicon-ok"></span></button>							    
								    <button name="action" id="novo" class="btn btn-default btn-sm" value="novo" title="Inclui um novo treino">Novo <span class="glyphicon glyphicon-plus"></span></button>
								    <button name="action" id="pdf" class="btn btn-default btn-sm" value="pdf" title="Gerar arquivo em pdf">pdf <span class="glyphicon glyphicon-save"></span></button>								</div>
								    -->
								    
						  </div> 
					</div>	
								
				
					<div class="panel-heading"> <h4>Exercicíos</h4></div>
					<div class="panel-body">
						<div class="form-group">
					    	<label for="treinos"><span><h4>Grade de exercícios</h4></span></label>
				      		<select   name="titulos" class="selectpicker form-control btn-default" id="titulos">
				       			<option th:each="t : ${titulosDoTreino}" th:selected="${t.id == titulo.id}" th:value="${t.id}" th:text="${t.descricao}" ></option>
				       			
				   	  		</select>
				    	</div>	
						<table class="table table-striped" id="table"> 
							<thead>
				            <tr>					                
								<th><h3><small>Descrição</small></h3></th>
								<th><h3><small>Grupo muscular</small></h3></th>
												                
				            </tr>
				        	</thead>		
							 <tbody>
							 	<tr><td colspan="2" align="center" th:text="${titulo.descricao}">DIA1</td></tr>				 	
							 	<tr th:each="e : ${listaExercicios}">			 		
							 		<td>	
							 			<a th:href="@{/editar/{id}(id=${e.id})}" th:id="${e.id}" class="edita"><span th:text="${e.descricao}">Supino reto 4x10 + Cross over RM</span></a>
							 		</td>
							 		<td>
							 			<a th:href="@{/editar/{id}(id=${e.id})}" th:id="${e.id}" class="edita"><span th:text="${e.grupoMuscular.nome}">grupo muscular</span></a>
							 		</td>
							 	</tr>
							 </tbody> 
						</table>
					</div>
				</div>
		</form>
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
<script th:inline="javascript">
jQuery(function(){	
	
	$("#treinos").on("change",function(){
		$("#codigoTreino").val($(this).val());
		$("#codigoTitulo").val("");		
		$("#form").submit();
	});	
	
	$("#titulos").on("change",function(){
		$("#codigoTitulo").val($(this).val());
		$("#codigoTreino").val($("#treinos").val());		
		$("#form").submit();
	});	
	
	
	$('#collapseExample').on('hidden.bs.collapse', function () { $("#esconderPainel").text("Mostrar painel");});	
	$('#collapseExample').on('shown.bs.collapse', function () {	$("#esconderPainel").text("Esconder painel");});
	
	/*
		$("#novo").on("click",function(){
				$("<input/>").addClass("btn btn-default").attr({"type":"button","value":"Incluir exercícios"}).insertAfter($(this));
				$(this).remove();
		});
	*/
		
});			
</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		