
<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
	<title>Treino e Forma</title>
	
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />	 
	<link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="css/dataTables.bootstrap.min.css" rel="stylesheet"/>
	<link href="css/dataTables.checkboxes.css" rel="stylesheet" >
	
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
	</script>		 
</head>
<body>

 <!-- start header_top -->
	<div class="header">
	   <div class="container">
		  <div class="header-text">
			<h1>Corpo Saudável</h1>
			<h2>Seu melhor investimento</h2>
			<p>Monte seu treino online</p>			
			<div class="banner_btn">
				<a th:href="@{/registro}">Registre-se</a>
			</div>
		  </div>
		  <div class="header-arrow">
		     <a href="#menu" class="class scroll"><span> Clique aqui </span> </a>
		  </div>
	    </div>
	  </div>
	<!-- end header_top -->
		
	<!-- start header_bottom -->
	  <div class="header-bottom">
		 <div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>(DDD)-0000-0000</span>
			</div>
			<div class="social">	
			   <ul>	
				  <li class="facebook"><a href="#"><span> </span></a></li>
				  <li class="twitter"><a href="#"><span> </span></a></li>
				  <li class="pinterest"><a href="#"><span> </span></a></li>	
				  <li class="google"><a href="#"><span> </span></a></li>
				  <li class="tumblr"><a href="#"><span> </span></a></li>
				  <li class="instagram"><a href="#"><span> </span></a></li>	
				  <li class="rss"><a href="#"><span> </span></a></li>							
			   </ul>
		   </div>
		   <div class="clear"></div>
		</div>
	  </div>
	<!-- end header_bottom -->
	<!-- start menu -->
    <div class="menu" id="menu">
	  <div class="container">
		 <div class="logo">
			<a href="index.html"></a>
		 </div>
		 <div class="h_menu4"><!-- start h_menu4 -->
		   <a class="toggleMenu" href="#">Menu</a>
			 <ul class="nav">
			   <li><a th:href="@{/}">Home</a></li>
			    <li sec:authorize="hasRole('PG_MONTAR_TREINO')"><a th:href="@{/treinos}">Treinos</a></li>
			    <!-- <li sec:authorize="hasRole('PG_LISTAR_TREINO')"><a th:href="@{/listarTreino}"></a></li> -->
			    <li sec:authorize="hasRole('PG_LISTAR_EXERCICIO')"><a th:href="@{/listarExercicio}">Exercícios</a></li>			   
			   	<li><a th:href="@{/contato}">Contato</a></li>
			   <li>
			   		<form th:action="@{/logout}" method="post">
			   			<button type="submit" class="btn btn-default">Sair</button>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">		   		
			   		</form>			   
			   </li>
			 </ul>
			  <script type="text/javascript" src="js/nav.js"></script>
		  </div><!-- end h_menu4 -->
		 <div class="clear"></div>
	  </div>
	</div>
	<!-- end menu -->
	
	<br>
	 
	<div class="container-fluid">
		   
		<table id="exercicioTable" class="table table-striped"  width="100%">     							       
		       <thead>
		            <tr>					                
		            	<th><span>Descrição</span></th>
						<th><span>Objetivo</span></th>
						<th><span>Curtidas</span></th>
						<th><span></span></th>						             
		            </tr>
		        </thead>							        
		        <tfoot>
		            <tr>
		            	<th></th>
						<th></th>							
						<th></th>
						<th></th>
		            </tr>
		        </tfoot>
		</table>		
	</div>	
	
	 	
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/dataTables.checkboxes.min.js"></script>

<div layout:fragment="scripts">
<script th:inline="javascript">
	$(function(){	
			
		var	 table = $('#exercicioTable').DataTable({							
				 	responsive:true,		 
				 	pageLength:5,						 	
				 	language:{
				 		info:"De _START_ a _END_ (Total de registros _TOTAL_)",
				 		lengthMenu:     "Mostrar _MENU_",
				 		search:"Pesquisar",				 		
				 		paginate:{
				 			previous:"Anterior",
				 			next:"Próximo"
				 		}
				 	},	 	
			        ajax:{
			        	url:/*[[@{/listaDeTreino}]]*/,
			        	dataSrc:""	        		
			        },
			        columns:[			       
			        		{data:"descricao"},
			            	{data:"objetivo"},
			            	{data:"curtidas"},
			            	{mRender:function(data,type,row){
		            			var str = "<a href='#'><span class='glyphicon glyphicon-search'></span></a>";
		            			return str;
		            		}
		            	}
			        ],
			        columnDefs: [
			            {
			                targets: [0],
			                render: function ( data, type, columns, meta ) {
			                    if(type === 'display'){
			                        data = "<a href='#'>" + data + "</a>";
			                    }
			                    return data;
			                }
			            },
			        ]
			});
				
	});
	 	
</script>
</div>
</body>
</html>