
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<title>Free Gym Website Template | Register :: w3layouts</title>
	<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="js/jquery.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
	</script>
</head>
<body>
<div layout:fragment="content">	

<br>
<div class="container-fluid">
 	<div class="content">  	
		<form id="form" th:action="@{/cadastro}" method="post">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">Informações Pessoais</h3>
			  	</div>	  
				<div class="panel-body">		
						<div class="form-group">
					      <label for="nome">Nome</label>
					      <input type="text" class="form-control" name="nome" id="nome" required="required" title="nome"> 	
					    </div>
					    <div class="form-group">
					      <label for="email">e-mail</label>
					      <input type="text" class="form-control" name="email" id="email" required="required" title="exemplo@email.com"> 	
					    </div>
			    </div>
			    <div class="panel-heading">
			    	<h3 class="panel-title">Informações de Login</h3>
			  	</div>	
			  		<div class="panel-body">		
						<div class="form-group">
					      <label for="login">Login para acesso</label>
					      <input type="text" class="form-control" name="login" id="login" required="required" title="login de acesso"> 	
					    </div>
					    <div class="form-group">
					      <label for="senha">Senha</label>
					      <input type="password" class="form-control" name="senha" id="senha" title="senha de acesso" required="required"> 	
					    </div>
					    <div class="form-group">
					      <label for="confirmasenha">Confirme a senha</label>
					      <input type="password" class="form-control" name="confirmasenha" id="confirmasenha" title="digite a mesma senha" required="required"> 	
					    </div>  
					    
					    <div class=text-right>	
							<button class="btn btn-info btn-md" id="enviar" role="button" title="Envair dados">   Enviar  </button>
						</div>
			    </div>
			</div>
		</form>						
      </div>
  </div>   
 </div><!-- fim content -->
</body>
</html>