	
		<ul class="nav nav-tabs">
			<li class="active"><a href="#first-tab" data-toggle="tab">Escolher Exercícios</a></li>
			<li><a href="#second-tab" data-toggle="tab">Treinos</a></li>
		</ul>
		 
		<div class="tab-content">
			<div class="tab-pane active in" id="first-tab">
				<div class="panel panel-default">					
					<div class="panel-body">		 				
						<table class="table table-striped" id="table"> 
							<thead>
					            <tr>
					            	<th><span class="label label-default"></span></th>					                
									<th><span class="label label-default">Descrição</span></th>
									<th><span class="label label-default">Grupo muscular</span></th>												                
					            </tr>
				        	</thead>		
							 <tbody>				 	
							 	<tr th:each="exercicio : ${exercicios}">
							 		<td>
							 			<input type="checkbox">
							 		</td>			 		
							 		<td>	
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.descricao}">Supino reto 4x10 + Cross over RM</span></a>
							 		</td>
							 		<td>
							 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.grupoMuscular.nome}">grupo muscular</span></a>
							 		</td>					 		
							 	</tr>
							 </tbody> 
						</table>
						
						 <a href="#"  class="btn btn-large btn-primary navbar-right">Gerar Treino</a>
						
						<!-- Start div table-footer -->				
						 <div class="table-footer">
		                    <ul class="pagination">
		                        <li th:class="${page.isFirstPage()}? 'disabled' : ''">
		        					<span th:if="${page.isFirstPage()}">← Primeiro</span>
		        					<a th:if="${not page.isFirstPage()}" th:href="@{${page.getUrl()}(page=0,size=${page.getSize()})}">← Primeiro</a>
		      					</li>
		      					 
								 <li th:class="${page.isHasPreviousPage()}? '' : 'disabled'">
								    <span th:if="${not page.isHasPreviousPage()}">«</span>
								    <a th:if="${page.isHasPreviousPage()}" th:href="@{${page.getUrl()}(page=${page.getNumber()-2},size=${page.getSize()})}" title='Ir para anterior'>«</a>
								 </li>						 
								 
							     <li th:each="item : ${page.getItems()}" th:class="${item.isCurrent()} ? 'active' : ''">
							       	<span th:if='${item.isCurrent()}' th:text='${item.getNumber()}'>1</span>
							       	<a th:if="${not item.isCurrent()}" th:href="@{${page.getUrl()}(page=${item.getNumber()-1},size=${page.getSize()})}"><span th:text='${item.getNumber()}'>1</span></a>
							     </li>
							     
							     <li th:class="${page.isHasNextPage()}? '' : 'disabled'">
							       <span th:if="${not page.isHasNextPage()}">»</span>
							       <a th:if="${page.isHasNextPage()}" th:href='@{${page.getUrl()}(page=${page.getNumber()},size=${page.getSize()})}' title='Ir para próxima'>»</a>
							     </li>
							      
							     <li th:class="${page.isLastPage()}? 'disabled' : ''">
							       <span th:if='${page.isLastPage()}'>Último →</span>
							       <a th:if="${not page.isLastPage()}" th:href="@{${page.getUrl()}(page=${page.getTotalPages()-1},size=${page.getSize()})}">Último →</a>
							     </li>
		                    </ul>
					    </div>
					    <!-- End div table-footer -->			
					</div>
				</div>
			</div>
			
			<div class="tab-pane" id="second-tab">
				<p>Aqui vai o conteúdo da segunda aba.</p>
			</div>
		</div>