<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>

<body>
	<!-- 	
	<h1 layout:fragment="header">
		<small>Formulário para cadastro dos exercícios <span class="glyphicon glyphicon-pencil"></span></small>
	</h1>
	 -->
	
<div layout:fragment="content">
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">				
			<div class="modal-dialog">				  
			  <!-- Modal content-->
			   <div class="modal-content">
					<div class="modal-header">
					   <button type="button" class="close" data-dismiss="modal">&times;</button>
					   <h4 class="modal-title"> Alterar exercício</h4>
					   <div class="mensagem-aviso"></div>	
					 </div>
					 <div class="modal-body">
					 	<form id="form" class="form-horizontal" role="form" th:action="@{/salvar}" method="POST" th:object="${exercicio}">
			              <!-- Basic inputs -->
			              <div class="panel panel-default">
			                <div class="panel-body">
				                <div class="form-group">
				                   <label class="col-sm-2 control-label">Descrição </label> 
				                   <div class="col-sm-10">	                      
				                     <input id="descricao" type="text" required="required" min="3" class="form-control" placeholder="descreva o exercício" th:field="*{descricao}" />
				                   </div>
				                </div>
			  					<div class="form-group">
									<label class="col-sm-2 control-label">Grupo muscular </label>
									<div class="col-sm-10">
			                            <select th:field="*{grupoMuscular}" id="grupoMuscular" required="required"  class="form-control"> 
			                           		<option th:value="''"></option>                              			                               			
			                				<option th:each="grupoMuscular : ${grupoMuscular}" th:value="${grupoMuscular.id}" th:text="${grupoMuscular.nome}"></option>                						                						                						
			            		 		</select>                                
			 						</div>
							    </div>
			                    <div class="form-actions text-left">			                    	 
			                     	<input type="hidden" id="id" name="id" th:field="*{id}" />
			                     	<input id="_csrf_param" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			                	</div>
								<br/>
			                </div>
			              </div>
			   		    </form>
					  </div>					  						 	
					 <div class="modal-footer">						
					 	<button type="submit" class="btn btn-info" id="salvar"><span class="glyphicon glyphicon-check"></span> Salvar</button> 	
					   	<!-- <button id="cmdFechar" type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>-->					   	
					 </div>
			   </div>			   				   				   
			</div>	
		</div>		
		
		
		<div class="panel panel-info">
			<div class="panel-heading"><h4>Exercicíos</h4></div>					
			<br>
			<div class="panel-body">				
				 <div class="input-group">
				 	<span class="input-group-btn">
		       		 	<button class="btn btn-default btn-default" type="button" id="limpar">Limpar</button>
		     		</span>
				 	<input type="text" class="form-control" placeholder="Digite um texto para busca..." id="search">
				 	<span class="input-group-btn">
		       		 	<button class="btn btn-default btn-default" type="button" id="novo">Novo</button>
		     		</span>		     				
		   		</div>
					 				
				<table class="table table-striped" id="table"> 
					<thead>
		            <tr>					                
						<th><h3><small>Descrição</small></h3></th>
						<th><h3><small>Grupo muscular</small></h3></th>
						<th><h3><small>Operações</small></h3></th>												                
		            </tr>
		        	</thead>		
					 <tbody>				 	
					 	<tr th:each="exercicio : ${exercicios}">			 		
					 		<td>	
					 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.descricao}">Supino reto 4x10 + Cross over RM</span></a>
					 		</td>
					 		<td>
					 			<a th:href="@{/editar/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="edita"><span th:text="${exercicio.grupoMuscular.nome}">grupo muscular</span></a>
					 		</td>
					 		<td class="text-center">							 										 			
								<a th:href="@{/excluir/{id}(id=${exercicio.id})}" th:id="${exercicio.id}" class="btn btn-info btn-xs exclui" role="button" title="Excluir"><span class="glyphicon glyphicon-trash"></span></a>
								<a th:href="@{/editar/{id}(id=${exercicio.id})}"  th:id="${exercicio.id}" class="btn btn-info btn-xs edita" role="button" title="Editar"><span class="glyphicon glyphicon-pencil" ></span></a>								
					 		</td>						 		
					 	</tr>
					 </tbody> 
				</table>
				
				<!-- Start div table-footer -->				
				 <div class="table-footer">
                    <ul class="pagination">
                        <li th:class="${page.isFirstPage()}? 'disabled' : ''">
        					<span th:if="${page.isFirstPage()}">← Primeiro</span>
        					<a th:if="${not page.isFirstPage()}" th:href="@{${page.getUrl()}(page=0,size=${page.getSize()})}">← Primeiro</a>
      					</li>
      					 
						 <li th:class="${page.isHasPreviousPage()}? '' : 'disabled'">
						    <span th:if="${not page.isHasPreviousPage()}">«</span>
						    <a th:if="${page.isHasPreviousPage()}" th:href="@{${page.getUrl()}(page=${page.getNumber()-2},size=${page.getSize()})}" title='Ir para anterior'>«</a>
						 </li>						 
						 
					     <li th:each="item : ${page.getItems()}" th:class="${item.isCurrent()} ? 'active' : ''">
					       	<span th:if='${item.isCurrent()}' th:text='${item.getNumber()}'>1</span>
					       	<a th:if="${not item.isCurrent()}" th:href="@{${page.getUrl()}(page=${item.getNumber()-1},size=${page.getSize()})}"><span th:text='${item.getNumber()}'>1</span></a>
					     </li>
					     
					     <li th:class="${page.isHasNextPage()}? '' : 'disabled'">
					       <span th:if="${not page.isHasNextPage()}">»</span>
					       <a th:if="${page.isHasNextPage()}" th:href='@{${page.getUrl()}(page=${page.getNumber()},size=${page.getSize()})}' title='Ir para próxima'>»</a>
					     </li>
					      
					     <li th:class="${page.isLastPage()}? 'disabled' : ''">
					       <span th:if='${page.isLastPage()}'>Último →</span>
					       <a th:if="${not page.isLastPage()}" th:href="@{${page.getUrl()}(page=${page.getTotalPages()-1},size=${page.getSize()})}">Último →</a>
					     </li>
                    </ul>
			    </div>
			    <!-- End div table-footer -->				
			</div>
		</div>			
</div><!-- ./content -->	

<!-- JQuery -->	
<div layout:fragment="scripts">
<script th:inline="javascript">
		jQuery(function(){
			
			var _csrf_param = $("#_csrf_param").attr("value");
			
			//var header = $("meta[name='_csrf_header']").attr("content");
			
			$("#salvar").on("click",function(){
				$("#form").submit();
			});
			
				
			/**  alterando um item */
			
			  $(".edita").on("click",function(event){				
				 $.ajax({
					url:'/treinoeforma/editarXHR',
					data:{"id":$(this).attr("id")},
					type:'get',
					dataType:'json',
					success:function(data){						
						//$.each(data,function(chave,valor){							
							$("#id").val(data['id']);
							$("#descricao").val(data['descricao']);
							$("#grupoMuscular").find("option").each(function(i,obj){
								if (data['grupoMuscular'].id === i)
										obj.selected = true;
							});							
							mudaTituloModal('Alterar exercício');
							$("#myModal").modal("show");
						//});
					}
				});
					event.preventDefault();
				});
				
				/** novo item */
				
				$("#novo").on("click",function(){
					$("#id").val("");
					$("#descricao").val($("#search").val());					
					mudaTituloModal('Novo exercício');
					$("#myModal").modal("show");				
				});
				
				/** Campo de busca */
				
			    $("#search").autocomplete({
			        minLength: 3,
			        delay: 300,			        
			        source: function (request, response) {
			            $.ajax({
			            	url:'/treinoeforma/listaExercicioXHRAutoComplete',
			            	type:'post',
			            	data:{"term":request.term,"_csrf":_csrf_param},
			            	dataType:'json',
			            	success:function(data){			            		
			            		response($.map(data,function(item){			            			
			            			return{
			            				label:item.descricao +' '+ '('+item.grupoMuscular.nome+')',
			            				value:item.descricao,
			            				chave:item.grupoMuscular.id
			            			}		            		
			            		}));
			            	}
			            });
			        },
			        select:function(event,ui){			        	
			        	$("#grupoMuscular option").each(function(index,element){			        		
							if ($(this).val()==ui.item.chave){	
								$(this).prop("selected",true);
								return false; //achouu...
			        		}
						});
			        }
			    });
			    
			    /** Excluindo uma linha */			    	
			    	
			    $("#table tbody tr").on('click','a',function(event) {
				      if ($(this).attr('class').indexOf('exclui') != -1){	
			    		console.log($(this).attr("id"));
			    		var id = $(this).attr("id");
			    		//console.log($(this).closest('tr').remove());
			    		var item = $(this).closest('tr');			    		
			    		$.confirm({
						    title: 'Atenção!',
						    content: 'Deseja realmente excluir este item?',
						    type:'blue',
						    icon: 'glyphicon glyphicon-info-sign',
						    theme: 'bootstrap', // 'material', 'bootstrap','supervan'
						    closeIcon: true,
						    autoClose:'Não|10000',		
						    buttons: {
						        Sim: function () {	
						        	$.ajax({
										url:'/treinoeforma/excluirXHR',
										data:{"id":id},
										type:'get',
										dataType:'html',
										success:function(data){
											item.remove();
											//$.alert('Dados excluídos com sucesso!');
										}
									});
						        	
						        },
						        Não: function () {
						            //$.alert('Operação cancelada!');
						        }
						    }
						});
				    	event.preventDefault();
				      }
				 });			    
			    			    
			    /* Limpando autoclompete */			    
			    $("#limpar").on("click",function(){$("#search").val("");});
			    
			    /* Alterando título do modal */			    
			    function mudaTituloModal(title){$(".modal-title").text(title);}
		});	
</script>
</div><!-- fim div script -->
	
</body> 
</html> 
   		